@import "tailwindcss";

.sidepanel {
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  background-color: white;

  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40vw;

  border-radius: 24px 0 0 24px;
  box-shadow: gray 0 0 0 5px;
}
.sidepanel.open {
	transform: translateX(0);
}

.back-button {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

h2 {
	position: relative;
	top: 3rem;
	font-size: 3rem;
	font-weight: 800;
}