.sidepanel {
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  background-color: green;

  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40vw;

  border-radius: 24px 0 0 24px;
  box-shadow: gray 0 0 0 5px;
}
.sidepanel.open {
	transform: translateX(0);
}