#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#today-heading {
	font-weight: 800;
	font-size: 4em;
}

#sidepanel-open-button {
	position: fixed;
	top: 1em;
	right: 1em;
}
