:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.05em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f5f5f5;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}
button:hover {
  background-color: oklch(92.2% 0 0);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
