input,
select,
.input-box {
  background-color: #f5f5f5;
  border-radius: 1rem;
  height: 2rem;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
}
select {
  appearance: none; /* removes native arrow */
  -webkit-appearance: none;
  -moz-appearance: none;

  line-height: normal;
  display: flex;
  align-items: center;
}
input[type="color"] {
  padding: 0;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin-left: 0;
}
label {
  font-weight: 800;
  font-size: 1.5rem;
  align-self: start;
  position: relative;
  left: .25rem;
}
